/*!
 * Funny Frontend (http://funnyfrontend.com)
 * Copyright 2014-2015
 */

html {
    font-size: 16px
}

.home-brand {
    text-align: center;
    padding: 2em;
    background-image: url("../img/background.png");
}


.home-brand .logo {
    margin-left: 20px;
    height: 300px;
}

h1 {
    font-size: 1.5rem;
    line-height: 25px
}

.home-brand .btn-floating {
    position: relative;
    margin: 0 auto;
    display: block;
    top: 58px;
}

.button-collapse {
    margin-left: 25px;
}

ul.side-nav.fixed a {
    color: whitesmoke;
}

ul.side-nav.fixed a:hover {
    color: black;
}

li {
    list-style-type: none;
}

section {
    padding: 4% 0 4% 0;
}

#intro{
    border-top: 8px solid rgba(0, 0, 0, 0.1);
}

section .col {
    margin-bottom: 24px;
}

section h4 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

section hr {
    width: 40px;
    margin-bottom: 45px;
    border: 1px solid
}




.habilidades i {
    color: #ee6e73;
    font-size: 7rem;
    display: block;
}

footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}

/*** RESPONSIVO ***/

@media only screen and (max-width: 992px) {
    header ul.side-nav li a {
        font-size: 1.7rem
    }
    header,
    main,
    footer {
        padding-left: 0;
    }
}

@media only screen and (max-width: 767px) {
    .intro img {
        width: 50%;
    }
}

@media only screen and (max-width: 467px) {
    .intro img {
        width: 100%;
    }
}